<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" routerLink="/">Time Photos</a>
  </div>
  <label class="swap swap-rotate mr-2 text-2xl">
    <input type="checkbox" class="theme-controller" value="night" />
    <ng-icon name="octMoon" class="swap-off"/>
    <ng-icon name="octSun" class="swap-on" />
  </label>
  <div class="flex-none">
    @if (user()) {
      <div>
        <button class="btn btn-ghost" routerLink="dashboard">
          <ng-icon name="octUpload" />
          Upload
        </button>
      </div>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img alt="Tailwind CSS Navbar component" src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>Settings</a></li>
          <li (click)="logout()"><a>Logout</a></li>
        </ul>
      </div>
    } @else {
      <div class="flex items-center gap-2">
        <button class="btn btn-primary" routerLink="login"> Login </button>
        <button class="btn btn-secondary" routerLink="register"> Register </button>
      </div>
    }
  </div>
</div>
