<main class="min-h-screen bg-base-100 container mx-auto pt-12">
  <div class="flex flex-col gap-4 rounded-box bg-base-200 p-6 max-w-md mx-auto">
    <h1 class="text-3xl font-bold self-center">Create an account</h1>

    <span class="self-center">
      Already have an account?
      <a class="link link-secondary" routerLink="/login">Log in</a>
    </span>

    <!-- <a class="btn btn-neutral">
      <ng-icon name="bootstrapGoogle" />
      Create with Google
    </a>

    <div class="divider my-0">OR</div> -->
    <form [formGroup]="registerFormGroup">
      <label class="form-control">
        <div class="label">
          <span class="label-text">Name</span>
        </div>

        <input
          formControlName="name"
          class="input input-bordered"
          [class.input-error]="registerFormGroup.get('name')?.invalid && registerFormGroup.get('name')?.touched"
        />
        @if (registerFormGroup.get('name')?.invalid && registerFormGroup.get('name')?.touched) {
          @if (registerFormGroup.get('name')?.hasError('required')) {
            <div>
              <span class="label-text-alt mt-2 text-error"> Name is required </span>
            </div>
          }
        }
      </label>

      <label class="form-control">
        <div class="label">
          <span class="label-text">Email</span>
        </div>

        <input
          formControlName="email"
          class="input input-bordered"
          [class.input-error]="registerFormGroup.get('email')?.invalid && registerFormGroup.get('email')?.touched"
        />
        @if (registerFormGroup.get('email')?.invalid && registerFormGroup.get('email')?.touched) {
          @if (registerFormGroup.get('email')?.hasError('required')) {
            <div>
              <span class="label-text-alt mt-2 text-error"> Email is required </span>
            </div>
          }
          @if (registerFormGroup.get('email')?.hasError('email')) {
            <div>
              <span class="label-text-alt mt-2 text-error"> Email is invalid </span>
            </div>
          }
        }
      </label>

      <label class="form-control">
        <div class="label">
          <span class="label-text">Password</span>
        </div>

        <input
          formControlName="password"
          type="password"
          class="input input-bordered"
          [class.input-error]="registerFormGroup.get('password')?.hasError('required') && registerFormGroup.get('password')?.touched"
        />
        @if (registerFormGroup.get('password')?.invalid && registerFormGroup.get('password')?.touched) {
          @if (registerFormGroup.get('password')?.hasError('required')) {
            <div>
              <span class="label-text-alt mt-2 text-error"> Password is required </span>
            </div>
          }
          @if (registerFormGroup.get('password')?.hasError('minLength')) {
            <div>
              <span class="label-text-alt mt-2 text-error"> Password should have at least 6 characters </span>
            </div>
          }
        }
      </label>

      <label class="form-control">
        <div class="label">
          <span class="label-text">Confirm password</span>
        </div>

        <input formControlName="confirmPassword" type="password" class="input input-bordered" [class.input-error]="registerFormGroup.hasError('samePassword') && registerFormGroup.get('confirmPassword')?.touched" />
        @if (registerFormGroup.hasError('samePassword') && registerFormGroup.get('confirmPassword')?.touched) {
          <div>
            <span class="label-text mt-2 text-error">
              Passwords do not match
            </span>
          </div>
        }
      </label>

      <div class="form-control">
        <label class="cursor-pointer label self-start gap-2">
          <input formControlName="terms" type="checkbox" class="checkbox" />
          <span class="label-text">
            I accept the
            <a class="link link-accent">Terms and Conditions</a>
          </span>
        </label>
      </div>
    </form>


    <button class="btn btn-primary" [disabled]="registerFormGroup.invalid || registerFormGroup.disabled" (click)="submitRegisterForm()">
      @if (isLoading) {
        <span class="loading"></span>
      } @else {
        Create
      }
    </button>
  </div>
</main>
