<div class="card w-96 bg-base-100 shadow-xl">
  <div class="relative">
    <div class="absolute right-2 top-2 z-[1]">
      <button (click)="copyUrlToClipboard()" class="tooltip btn btn-sm btn-accent btn-circle tooltip-right" data-tip="Copy URL">
        <ng-icon name="octCopy" />
      </button>
    </div>
    <figure>
      <img [src]="imageUrl" alt="Shoes" />
    </figure>
  </div>
  <div class="card-body">
    <h2 class="card-title flex justify-between">
      <div>
        {{ image.name }}
        <div class="badge badge-secondary">NEW</div>
      </div>
      <div>
        <button class="btn btn-sm btn-circle btn-primary mr-2" (click)="openEditModal()">
          <ng-icon name="octPencil" />
        </button>
        <button class="btn btn-sm btn-circle btn-error" (click)="openDeleteConfirmModal()">
          <ng-icon name="octTrash" />
        </button>
      </div>
    </h2>
    <div class="card-actions">
      <div class="badge badge-outline">
        <div class="w-2 h-2 bg-primary rounded-full mr-1">
        </div>
        Fashion
      </div>
      <div class="badge badge-outline">
        <div class="w-2 h-2 bg-secondary rounded-full mr-1">
        </div>
        Products
      </div>
    </div>
  </div>
  <dialog #editModal class="modal">
    <div class="modal-box">
      <app-image-form [image]="image" />
    </div>
  </dialog>
  <dialog #deleteModal class="modal">
    <app-confirm-modal
      class="modal-box"
      [title]="confirmDeleteTitle"
      [message]="confirmDeleteMessage"
      (confirm)="deleteImage()"
    />
  </dialog>
</div>
