<div class="card w-96 bg-base-100 shadow-xl">
  <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
  <div class="card-body">
    <h2 class="card-title flex justify-between">
      <div>
        Shoes!
        <div class="badge badge-secondary">NEW</div>
      </div>
      <div>
        <button class="btn btn-sm btn-circle btn-primary mr-2">
          <ng-icon name="octPencil" />
        </button>
        <button class="btn btn-sm btn-circle btn-error">
          <ng-icon name="octTrash" />
        </button>
      </div>
    </h2>
    <div class="card-actions">
      <div class="badge badge-outline">
        <div class="w-2 h-2 bg-primary rounded-full mr-1">
        </div>
        Fashion
      </div>
      <div class="badge badge-outline">
        <div class="w-2 h-2 bg-secondary rounded-full mr-1">
        </div>
        Products
      </div>
    </div>
  </div>
</div>
