<h3 class="font-bold text-lg">Edit image</h3>
<form [formGroup]="imageFormGroup">
  <label class="form-control">
    <div class="label">
      <span class="label-text">Name</span>
    </div>

    <input formControlName="name" class="input input-bordered" />
  </label>
  <label class="form-control mb-4">
    <div class="label">
      <span class="label-text">Categories</span>
    </div>
    <div class="flex gap-1">
      <div class="badge badge-outline mr-1 cursor-pointer">
        <div class="w-2 h-2 bg-primary rounded-full mr-1">
        </div>
        Fashion
      </div>
      <div class="badge badge-neutral mr-1 cursor-pointer">
        <div class="w-2 h-2 bg-primary rounded-full mr-1">
        </div>
        Teste
      </div>
    </div>
  </label>
  <input type="file" class="file-input file-input-bordered w-full max-w-xs" (change)="onFileChange($event)" />
</form>
<div class="modal-action">
  <form method="dialog">
    <button class="btn mr-2">Close</button>
    <button class="btn btn-primary" (click)="onSubmit($event)">Save</button>
  </form>
</div>
