<main class="container mx-auto pt-12">
  <div class="flex w-full mx-auto mb-6">
    <details class="dropdown mr-2">
      <summary class="m-1 btn">
        Filter
        <ng-icon name="octChevronDown" />
      </summary>
      <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
        <li><a>Item 1</a></li>
        <li><a>Item 2</a></li>
      </ul>
    </details>
    <label class="input input-bordered flex items-center gap-2 grow">
      <input type="text" class="grow" placeholder="Search" #searchInput (input)="filterImages($event)"/>
      <kbd class="kbd kbd-sm"> CTRL </kbd>
      <span> + </span>
      <kbd class="kbd kbd-sm"> K </kbd>
    </label>
  </div>
  <div class="flex justify-between gap-4">
    <ul class="menu bg-base-200 w-56 rounded-box">
      <li class="menu-title"> Categories </li>
      <li><a>Item 1</a></li>
      <li><a>Item 2</a></li>
      <li><a>Item 3</a></li>
      <li>
        <a class="font-bold">
          <ng-icon name="octPlusCircle" />
          New
        </a>
      </li>
    </ul>
    <div class="flex flex-wrap gap-x-8 gap-y-4">
      @for (image of filteredImages; track $index) {
        <app-image-card [image]="image" />
      }
    </div>
  </div>
</main>
