<main class="container mx-auto pt-12">
  <div class="flex w-full mx-auto mb-6">
    <label class="input input-bordered flex items-center gap-2 grow">
      <input type="text" class="grow" placeholder="Search" #searchInput (input)="filterImages($event)"/>
      <kbd class="kbd kbd-sm"> CTRL </kbd>
      <span> + </span>
      <kbd class="kbd kbd-sm"> K </kbd>
    </label>
  </div>
  <div class="flex gap-4">
    <ul class="menu bg-base-200 w-56 rounded-box">
      <li class="menu-title"> Categories </li>
      @for (category of categories(); track $index) {
        <li>
          <a class="flex justify-between">
            {{ category.name }}
            <div class="relative z-[1]">
              <button class="btn btn-xs btn-primary btn-circle mr-1">
                <ng-icon name="octPencil" size="12" />
              </button>
              <button class="btn btn-xs btn-error btn-circle">
                <ng-icon name="octTrash" size="12" />
              </button>
            </div>
          </a>
        </li>
      }
      <li>
        <a class="font-bold">
          <ng-icon name="octPlusCircle" />
          New
        </a>
      </li>
    </ul>
    <div class="flex flex-wrap gap-x-8 gap-y-4">
      @for (image of filteredImages; track $index) {
        <app-image-card [image]="image" />
      }
    </div>
  </div>
</main>
